.heading p {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
  }

  /* Heading styles */
.heading {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
  }
  #logo {
    width: 15%;
    border-radius: 5px;
  }