.head {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  border-top: 0.1px solid gray;
  border-bottom: 0.1px solid gray;
}

/* For small screens */
@media only screen and (max-width: 480px) {
  .head {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* For medium screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .head {
    height: 80px;
  }
}

/* For large screens */
@media only screen and (min-width: 769px) {
  .head {
    height: 100px;
  }
}
