* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 95%;
  margin: 0 auto;
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}
hr {
  border: 1px solid #46c2cb;
}

.all-news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.heading {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}
.heading h1 {
  color: #5201ff;
  font-family: "Ubuntu", sans-serif;
}

.news {
  max-width: 500px;
  padding: 25px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.news-title {
  padding-bottom: 10px;
  font-size: large;
  border-bottom: 1px solid #46c2cb;
  color: #222;
  font-family: "Ubuntu", sans-serif;
}
.news-description {
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.news-author,
.news-source {
  margin-top: 10px;
  font-weight: 100;
}
.news-author {
  color: #bf463b;
}
.news-source {
  color: #5201ff;
}
.news a {
  text-decoration: none;
  color: #5201ff;
  font-size: 14px;
}

img {
  width: 100%;
}

.footer {
  height: 100px;
  background-color: transparent;
  text-align: center;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Ubuntu", sans-serif;
  padding-top: 50px;
}
