/* Horizontal Rule styles */
hr {
  border: 1px solid #ccc;
}

/* All news styles */
.all-news {
  margin: 200px auto 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.article-image {
  width: 400px;
  height: 250px;
  border-radius: 8px;
}
.news {
  max-width: 500px;
  padding: 25px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.news-title {
  padding-bottom: 10px;
  font-size: large;
  border-bottom: 1px solid #ccc;
  color: #222;
  font-family: "Ubuntu", sans-serif;
}
.news-description {
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.news-author {
  margin-top: 10px;
  font-weight: 100;
  color: #5201ff;
  word-break: break-all;
}

/* News link styles */
.news a {
  text-decoration: none;
  color: #5201ff;
  font-size: 14px;
}

.dark {
  background: #0f1117;
  color: #eee;
}
.dark .news {
  background: #202123;
  color: #fff;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
}
.dark h1.news-title,
.dark p.news-description,
.dark span.news-author,
.dark .footer p {
  color: #ccc;
}
.dark span.news-author {
  font-weight: 200;
  text-overflow: ellipsis;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .all-news {
    grid-template-columns: 1fr;
  }
  .news {
    max-width: 60%;
  }
}
@media only screen and (max-width: 480px) {
  .all-news {
    grid-template-columns: 1fr;
  }
  .news {
    max-width: 80%;
  }
}
