hr {
  border: 1px solid #46c2cb;
}

/* All news styles */
.all-news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.news {
  max-width: 500px;
  padding: 25px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.news-title {
  padding-bottom: 10px;
  font-size: large;
  border-bottom: 1px solid #46c2cb;
  color: #222;
  font-family: "Ubuntu", sans-serif;
}
.news-description {
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.news-author {
  margin-top: 10px;
  font-weight: 100;
  color: #5201ff;
}

/* News link styles */
.news a {
  text-decoration: none;
  color: #5201ff;
  font-size: 14px;
}

/* Dark mode styles */
.dark {
  background: #232529;
  color: #eee;
}
.dark .news {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
}
.dark h1.news-title {
  color: #edeade;
}
.dark p.news-description {
  color: gray;
}
.dark span.news-author {
  color: #46c2cb;
  font-weight: 200;
}
.dark .footer p {
  color: #edeade;
}
